<ion-header>
  <ion-navbar>
    <ion-title id="title">
      <img id="logo" src="../../assets/imgs/unisinos.png">        
      
      <span id="name">List</span>
      
      <button ion-button clear id="add" (click)="createNewNote()">
        <ion-icon name="add-circle" id="icon" color="dark"></ion-icon>
      </button>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content #content>
  <ion-list inset id="list">
    <!--List of Notes-->
    <div *ngIf="noteList">

      <button ion-item *ngFor="let note of noteList.list" (click)="loadNote(note)" id="button">
        <ion-icon name={{note.icon}} item-start></ion-icon>
          {{note.title}}
        <div id="date">{{note.modificationDate | date : 'dd/MM/yyyy HH:mm'}}</div>
      </button>

    </div>

  </ion-list>
</ion-content>