<ion-header id="header">
  <ion-navbar>
    <ion-title id="title">Note</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>

  <!--Title-->
  <ion-card id="textArea"> 
    <div *ngIf="note">
      <ion-textarea [(ngModel)]="note.title" id="text" rows="1"></ion-textarea>
    </div>
  </ion-card>

  <!--Text-->
  <ion-card id="textArea"> 
    <div *ngIf="note">
      <ion-textarea [(ngModel)]="note.text" id="text" rows="20"></ion-textarea>
    </div>
  </ion-card>

  <!--Save Button-->
  <button ion-button (click)="Save()" id="saveButton">
    Save
  </button>
  
</ion-content>
