page-create {
  #header {
    height: 50px;
   
  }
  #title {
    text-align: center;
    font-size: 300%;
  }
  #noteTitle {
    text-align: center;
    font-size: 150%;
  }
  #deleteButton {
    float: right;
    margin-right: 3%;
  }
  #saveButton {
    float: left;
    margin-left: 3%;
  }
}
